.create_video {
	.main_header {
		margin: 0 30px;
		height: 100px;
		display: flex;
		align-items: center;
		justify-content: space-between;
		margin-top: 10px;
		padding: 0 10px;
		border-bottom: 1px solid rgba(0, 0, 0, 0.1);

		@include small-screen-phone {
			flex-direction: column;
			height: auto;
			padding-bottom: 15px;
		}

		h1 {
			font-weight: 500;
			font-size: 25px;
			line-height: 33px;
			color: #222222;
			margin: 0;

			@include large-screen-phone {
				font-size: 19px;
				text-align: center;
				line-height: 1.3;
			}

			.icon {
				font-size: 30px;
				margin-left: 15px;
			}
		}

		.buttons {
			button {
				padding: 8px 25px;
				border: none;
				outline: none;

				background: #46b13d;
				border-radius: 6px;
				color: #ffffff;
				font-size: 14px;
				font-weight: bold;
				margin-left: 20px;
				cursor: pointer;

				&:first-child {
					background: #f1f1f1;
					color: #999999;
					@include small-screen-phone {

					}
				}
			}
			@include small-screen-phone {
				display: flex;
				flex-direction: row;
			}
		}
	}

	.image_section {
		margin: 30px;
		background: #f4f4f4;
		border-radius: 20px;
		padding: 20px;

		.img_container {
			width: 100%;
			position: relative;
			overflow: none;



			.background_img {
				width: 100%;
				height: 100%;
				object-fit: center;
			}

			.actor_img {
				position: absolute;
				bottom: 5px;
				width: 70.5%;
				right: 0;
				left: 0;
				margin: 0 auto;
				@include large-screen-phone {
					transform: translateY(3px);
				}
			}
		}

		.text_area {
			width: 100%;
			background: #ffffff;
			border-radius: 20px;
			margin-top: 30px;
			padding: 20px;

			textarea {
				width: 100%;
				height: 80px;
				font-size: 16px;
				line-height: 26px;
				color: #999999;
				border: none;
				outline: none;
				@include small-screen-phone {
					font-size: 12px;
					line-height: 1.3;
				}
			}

			button {
				background: #f1f1f1;
				border-radius: 6px;
				padding: 8px 20px;
				color: #999999;
				font-weight: 500;
				font-size: 14px;
				border: none;
				outline: none;
			}
		}
		@include large-screen-phone {
			margin: 10px 5px;
			padding: 10px;
		}
	}

	.setting_header {
		margin: 30px 0 0 0;

		ul {
			display: flex;
			list-style: none;
			align-items: center;
			justify-content: flex-start;
			gap: 30px;
			margin: 0 0 20px;
			padding: 0;

			@include small-screen-phone {
				flex-wrap: wrap;
				gap: 20px;
				justify-content: center;
			}

			li {
				.link {
					font-weight: 500;
					font-size: 16px;
					line-height: 22px;
					color: #999999;
					text-decoration: none;
				}

				.active {
					color: #3860ad;
				}
			}
		}
	}
}
